<h1>About the Band</h1>

<div id="LeftBanner"></div>
<div id="AboutSections">
	<ul>
		<li><%= link_to 'Overview', overview_url, :title => 'Content' -%></li>
		<li><%= link_to 'History', history_url, :title => 'Content' -%></li>
		<li><%= link_to 'What is a Brass Band?', what_is_a_brass_band_url, :title => 'Content' -%></li>
		<li><%= link_to 'Our Musical Director', director_url, :title => 'Content' -%></li>
		<li><%= link_to 'Rules and Bylaws', bylaws_url, :title => 'Content' -%></li>
		<li><%= link_to 'Contacts', contacts_url, :title => 'Content' -%></li>
	</ul>
	<div id="Content">
		<%= render :file => 'about/overview' %>
	</div>
</div>
